body {
  background-color: #FFCC00;
  /*padding: 20px;*/
  margin: auto;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.menu{
  display: table;
  margin: 0 auto;
  min-height: 1000px;
}

.menu h1 {
  color: white;
  text-align: center;
}

ul.header li {
  display: inline-block;
  list-style-type: none;
}

ul.header {
  position: relative;
  display: block;
  background-color: darkgrey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {  background-color: black; }

.images{
  min-height: 1000px;
  position: absolute;
}
